<template>
	<v-container fluid>
		<v-card class="text-xs-center card-box">
	        <v-card-title>
	          <span class="headline">{{ formTitle }}</span>
	        </v-card-title>
	        <v-card-text>
	         	 <v-form  ref="form" lazy-validation>
	         	 	<v-layout row wrap>
                     	<v-flex xs12>
	               			 <v-text-field label="Title"></v-text-field>
	                	</v-flex>
	                	<v-flex xs12>
	               			 <v-text-field label="Body" multi-line></v-text-field>
	             		</v-flex>
	             	</v-layout>
	             </v-form>
	        </v-card-text>
	        <v-card-actions>
	          <v-spacer></v-spacer>
	          <v-btn color="blue darken-1" flat @click="cancel()">Cancel</v-btn>
	          <v-btn color="blue darken-1" flat >Save</v-btn>
	        </v-card-actions>
	      </v-card>
	</v-container>
</template>

<script>
export default {

	methods: {
		cancel() {
			this.$router.push({ name: 'Index' });
		}
	}	
}
</script>

<style>
	.card-box {
		width: 980px;
	}
</style>