<template>
	<v-app>	
	<v-container fluid>

		<v-dialog v-model="dialog" max-width="500px">
	      	<v-btn slot="activator" fab dark large bottom right color="teal" fixed>
		      <v-icon dark>add</v-icon>
		  	</v-btn>
		      <v-card>
		        <v-card-title>
		          <span class="headline">{{ formTitle }}</span>
		        </v-card-title>
		        <v-card-text>
		        	<v-form 
	                    v-model="valid" 
	                    ref="form" 
	                    autocomplete="off" 
	                  >
				          <v-container grid-list-md>
				            <v-layout wrap>
				              <v-flex xs12>
				                <v-text-field label="Title" v-model="editedItem.title"></v-text-field>
				              </v-flex>
				              <v-flex xs12>
				                <v-text-field label="Body" multi-line v-model="editedItem.body"></v-text-field>
				              </v-flex>
				            </v-layout>
				          </v-container>
				     </v-form>
		        </v-card-text>
		        <v-card-actions>
		          <v-spacer></v-spacer>
		          <v-btn color="red" class="white--text"  @click.native="close">Cancel</v-btn>
		          <v-btn color="blue" class="white--text"  @click.native="save">Save</v-btn>
		        </v-card-actions>
		      </v-card>
    	</v-dialog>

		<v-card class="card-box">
		    <v-card-title>
		      <v-spacer></v-spacer>
		      <v-text-field
		        append-icon="search"
		        label="Search"
		        single-line
		        hide-details
		        v-model="search"
		      ></v-text-field>
		    </v-card-title>
		    <v-data-table
		      :headers="headers"
		      :items="items"
		      :search="search"
		      :loading="loading"
		    >
		      <template slot="items" slot-scope="props">
		        <td class="text-xs-center">{{ props.item.title }}</td>
		        <td class="text-xs-center">{{ props.item.body }}</td>
		        <td class="text-xs-center">{{ props.item.created }}</td>
		        <td class="justify-center layout px-0">
		          <v-btn icon class="mx-0" @click="editItem(props.item)">
		            <v-icon color="teal">edit</v-icon>
		          </v-btn>
		          <v-btn icon class="mx-0" @click="deleteItem(props.item)">
		            <v-icon color="pink">delete</v-icon>
		          </v-btn>
		        </td>
		      </template>
		      <v-alert slot="no-results" :value="true" color="error" icon="warning">
		        Your search for "{{ search }}" found no results.
		      </v-alert>
		    </v-data-table>
		</v-card>

		<v-snackbar
	      :timeout="status.timeout"
	      v-model="status.active"
	    >
	    	{{ status.message }}
		</v-snackbar>
			
		</v-container>
	</v-app>
</template>

<script>
import axios from 'axios'


export default {
	mounted () {
		this.initialize();
	},
    data () {
      return {
      	loading: false,
      	status: {
      		active: false,
      		message: null,
      		timeout: 5000
      	},
      	dialog: false,
      	valid: true,
        search: '',
        headers: [
          { text: 'Title', value: 'title', align: 'center' },
          { text: 'Body', value: 'body', align: 'center'},
          { text: 'Published', value: 'created', align: 'center' },
          { text: 'Action', sortable: false, align: 'center'}
        ],
        items: [],
        editedIndex: -1,
        editedItem: {
	        title: '',
	        body: ''
	    },
	    defaultItem: {
	        title: '',
	        body: ''
	   	}
      }
    },

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Post New Blog' : 'Edit Blog Post'
      }
    },

    methods : {
    	initialize() {
    		axios.get('/posts').then(({data}) => {
    			//this.items = data;
    			this.items = data;
    			
    		});
    	},

    	addNew () {
    		this.$router.push({ name: 'Create' });
    	},

    	editItem (item) {
	        this.editedIndex = this.items.indexOf(item)
	        this.editedItem = Object.assign({}, item)
	        this.dialog = true
	      },

	      deleteItem (item) {
	        const index = this.items.indexOf(item)
	        if ( confirm('Are you sure you want to delete this item?') ) { 
	        	var id = this.items.splice(index, 1);
	        	axios.delete('/posts/' + id[0].id).then( response => {
	        		this.status.active = true;
	        		this.status.message = response.data.message;
	        	}, response => {
	        		this.status.active = true;
	        		this.status.message = response.response.data.message;
	        	});
	        }
	      },

	      close () {
	        this.dialog = false
	        setTimeout(() => {
	          this.editedItem = Object.assign({}, this.defaultItem)
	          this.editedIndex = -1
	        }, 300)
	      },

	      save () {
	        if (this.editedIndex > -1) {
	        	this.loading = true;
	          Object.assign(this.items[this.editedIndex], this.editedItem)
	           axios.put('/posts/' + this.editedItem.id, {
	           		title: this.editedItem.title,
	           		body: this.editedItem.body
	           }).then( response => {
	           		this.status.active = true;
	           		this.status.message = response.data.message;
	           		this.loading = false
	           }, response => {
	           		( !response.response.data.message ) ? this.status.message = 'Server Error' : this.status.message = response.response.data.message;
	           		this.status.active = true;
	           		
	           		this.loading = false
	           });

	        } else {
	        	this.loading = true;
	          axios.post('/posts',{
					title: this.editedItem.title,
		          	body: this.editedItem.body
	          }).then( response => {
	          		this.initialize();
	          		this.status.active = true;
	          		this.status.message = response.data.message;
	          		this.loading = false
	          }, response => {
	          		
	           		this.status.active = true;
	           		( !response.response.data.message ) ? this.status.message = 'Server Error' : this.status.message = response.response.data.message;
	           		this.loading = false
	          });

	        }
	        this.close()
	      }
    }
  }
</script>


<style>
	.card-box {
		width: 980px;
	}
</style>