<template>
  <v-app>
     <v-toolbar color="teal darken-1" dark fixed app>
     
      <v-toolbar-title>Blogs</v-toolbar-title>
    </v-toolbar>
      <v-content class="bg-dark">
        <v-container>
            <v-layout justify-center
          align-center>
              <router-view></router-view>
            </v-layout>
        </v-container>
      </v-content>
  </v-app>
</template>

<style>
  
</style>